#participants-list{
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  justify-content: left;
  width: 100%;
  background-color: #6CD7E6;
  padding: 2vw 4vw;
  div{
    display: flex;
    justify-content: right;
    margin: calc(.2vw + .2vh);
    align-items: center;
    background-color: white;
 
    p {
      border-radius: 15px;
      margin: calc(.3vw + .3vh) calc(1vw + 1vh);
      box-shadow: 2px 2px 3px gray;
      justify-self: left;
      width: 60px;
      box-shadow: inset 2px 2px 3px gray;
      
    }
  }
}
figure {
  margin: calc(.1vw + .1vh);
}
.delete-user{
  width: 30px;
  height: 30px;
  background-color: red;
  cursor: pointer;
}
.edit-user{
  width: 30px;
  height: 30px;
  background-color: blue;
  cursor: pointer;
}