#participants-list{
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  justify-content: center;
  width: 100%;
  background-color: #6CD7E6;
  padding: 2vw 4vw;
  div{
    display: flex;
    justify-content: right;
    margin: calc(.3vw + .3vh);
    align-items: center;
    background-color: white;
    padding: calc(.3vw + .3vh);
    div{
      border-radius: 10px;
      box-shadow: inset 2px 2px 2px gray;
      p {
        border-radius: 15px;
        margin: calc(.3vw + .3vh) calc(1vw + 1vh);
        justify-self: left;
        width: 60px;
      }
    }
  }
}
figure {
  margin: calc(.1vw + .1vh);
}
.delete-user{
  width: 30px;
  height: 30px;
  background-color: red;
  cursor: pointer;
}
.edit-user{
  width: 30px;
  height: 30px;
  background-color: blue;
  cursor: pointer;
}