@import "./sacrificed";
@import "./listparticipants.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.carousel-container {
  margin-top: calc(3vh + 2vw);
  width: 100%;
}
header{
    display: flex;
    justify-content: center;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
}
.container {
    width: 6vw;
    height: 3vw;
    position: relative;
    margin: 0 auto 1vw;
    perspective: 90vw;
  }
  #carousel {
    width: 100%;
    height: 100%;
    position: absolute;
            transform: translateZ(-5vw);
            transform-style: preserve-3d;
            transition: transform 1s;
  }
  #carousel figure {
    border: 1px solid black;
    display: flex;
    position: absolute;
    height: 7vw;
    left: 10px;
    top: 10px;
    font-weight: bold;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-shadow: 2px 1px 2px black;
    overflow: hidden;
    padding: 0 0.5vw;
    border-radius: 0.5vw;
  }
// #carousel figure:nth-child(8) {
//     transform: rotateY( 280deg ) translateZ( 288px );
// }
// #carousel figure:nth-child(9) {
//     transform: rotateY( 320deg ) translateZ( 288px );
// }

#carousel {
    animation: rotateInY 20s infinite linear;
}
@keyframes rotateInY {
0%   { transform: translateZ(-2vw) rotateX(3deg) rotateY(0deg);   }
100% { transform: translateZ(-2vw) rotateX(3deg) rotateY(360deg);    }
}